<nav>
   <ul class="nav">
      <li><a href="/">Blogino</a></li>
   </ul>
   <ul class="nav" role="navigation">
      <li><a href='/'>Blogs</a></li>
      <li><a href='/about'>About</a></li>
      <li><a href='/blogs/create'>Add New Blog</a></li>
    </ul>
</nav>
