<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs')  %>

<body>
   <%- include('./partials/nav.ejs')  %>


   <div class="about content">
      <h2>About us</h2>
      <p>we are learning how to create servers with nodejs and express</p>
      <p>iam a third year student who has passione about software</p>
      <p>I hope you enjoy here!</p>
   </div>
   <%- include('./partials/footer.ejs')  %>

</body>
</html>